body {background-color: #000;}

/* 상단 */
#top {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 80px;
    display: flex;
    justify-content: center; align-items: center;
    z-index: 1000;
    background: linear-gradient(rgba(0,0,0,100),rgba(0,0,0,80),rgba(0,0,0,70), rgba(0,0,0,0));
}

#top .inner {
    max-width: 1200px; width: 100%;
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 40px;
}

#top img {width: 40px;}

#top .topbar {
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
}
#top .topbar a {  
    font-size: 20px; 
    margin-left: 24px; 
    color: #fff; 
    display: inline-block;
}
#top .topbar a:hover {transform: translateY(-2px);}
#top .topbar a:nth-child(3) { color: #0BEC12;}

.hamburger {
    display: none;
    width: 26px; height: 20px;
    cursor: pointer;
}
.hamburger span {
    display: block;
    height: 2px; width: 26px;
    background: #fff;
    margin: 5px 0;
    transition: 0.3s;
}
.hamburger span:nth-child(1) {width: 10px;}
.hamburger span:nth-child(3) {width: 20px;}


/* 중간 */
#interview_wrap {
    max-width: 1200px;
    margin: 10px auto 0;
    padding-top: 60px;
}

#interview_wrap #middle .generation-bar {
    position: relative;
    height: 60px;
    color: #fff;
}
#interview_wrap #middle .generation-bar .center {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
#interview_wrap #middle .generation-bar .next {
    position: absolute;
    right: 30px; top: 50%;
    color: #fff; 
    transform: translateY(-50%);  
    font-size: 19px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 30px;
    gap: 20px;
    padding-bottom: 50px;
}
.card {
    background: #333333;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    cursor: pointer;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 12px;
}


.image-wrap {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;        
    display: flex;
    justify-content: center;
    align-items: center;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .image {
    transform: scale(1.15); 
}

.name {
    color: #fff;
    display: flex; flex-flow: column;
    align-items: center;
    gap: 10px;
    
    margin-bottom: 20px;
}

.name span:first-child {
    font-size: 20px;
}

.tag {
    padding: 3px 8px;
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
    display: flex;  align-items: center;
}

.blue { background: #2188b6; }
.red { background: #c54422; margin-left: 5px;}

.ex {
    font-size: 18px;
    line-height: 1.4;
    color: #eee;
}

.card button {
    position: absolute;
    top: 20%; right: 24px;
    transform: translateY(-50%);
    width: 24px; height: 18px;
    cursor: pointer;
}
.card button span {
    width: 24px; height: 1px;
    display: block;
    background: #ccc;
    margin: 5px 0;
    transition: 0.3s;
    
}

.card:hover{
    transform: translateY(-2px);
}

.card:hover button span:nth-child(1){width: 14px;}
.card:hover button span:nth-child(3) {transform-origin: right; transform: scaleX(0.6);}


/* 하단 */
.footer {
    background-color: #3f3f3f; color: #fff;
    width: 100%;
}

.footer-top {
    max-width: 1200px;    
    margin: 0 auto; padding: 32px 40px;
    display: flex; justify-content: space-between; align-items: center;
}

.footer-left {
    display: flex; flex-direction: column;
    gap: 14px;
}

.footer-title {font-size: 13px; cursor: pointer;}
.footer-title:hover {transform: translateY(-2px);}

.footer-icons {display: flex; gap: 14px;}
.footer-icons img {width: 22px; height: 22px;}
.footer-icons img:hover {transform: translateY(-2px);}

.footer-email {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    cursor: pointer;
}
.footer-email:hover {transform: translateY(-2px);}

.footer-right {
    display: flex; align-items: center;
    gap: 14px;
    font-size: 15px;
}
.footer-right a {
    color: #fff;
    font-weight: 500; 
}
.footer-right a:hover,.footer-right a:hover+span {transform: translateY(-2px);}
.footer-right span {opacity: 0.5;}

.footer-bottom {
    background-color: #2f2f2f;
    text-align: center;
    padding: 12px 0;
    font-size: 13px;
    opacity: 0.8;
}





/* 800px 이하일 때 반응형 */
@media (max-width: 800px) {

    .hamburger {display: block;}
    #top .topbar {display: none;}

    #top img {width: 32px;}

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-top {
        flex-direction: column;
        align-items: center; text-align: center;
        gap: 25px;
    }
    .footer-left {align-items: center;}
    .footer-right {
        display: flex;
        justify-content: center; flex-wrap: wrap;
        gap: 14px;
    }

}





/* 600px 이하일 때 반응형 */
@media (max-width: 600px) {

    #top img {width: 26px;}

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #interview_wrap #middle .content img {width: 180px;}
    #interview_wrap #middle .content .ex ul {justify-content: center; flex-wrap: wrap;}
    #interview_wrap #middle .content button {top: 18px; right: 14px;}
    
    .footer-right {display: none;}
}

