/* static/css/story.css */
.story-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
}

.story-card {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ff8501;
    flex-shrink: 0;
}

.story-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
