body {background-color: #000;}

/* 상단 */
#top {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 80px;
    display: flex;
    justify-content: center; align-items: center;
    z-index: 1000;
    background: linear-gradient(rgba(0,0,0,100),rgba(0,0,0,80),rgba(0,0,0,70), rgba(0,0,0,0));
}

#top .inner {
    max-width: 1200px; width: 100%;
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 40px;
}

#top img {width: 40px;}

#top .topbar {
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
}
#top .topbar a {  
    font-size: 20px; 
    margin-left: 24px; 
    color: #fff; 
    display: inline-block;
}
#top .topbar a:hover {transform: translateY(-2px);}
#top .topbar a:nth-child(3) { color: #0BEC12;}

.hamburger {
    display: none;
    width: 26px; height: 20px;
    cursor: pointer;
}
.hamburger span {
    display: block;
    height: 2px; width: 26px;
    background: #fff;
    margin: 5px 0;
    transition: 0.3s;
}
.hamburger span:nth-child(1) {width: 10px;}
.hamburger span:nth-child(3) {width: 20px;}


/* 중간 */
#portfolio_wrap {
    max-width: 1200px;
    margin: 10px auto 0;
    padding-top: 60px;
}

#portfolio_wrap #middle .generation-bar {
    position: relative;
    height: 60px;
    color: #fff;
}
#portfolio_wrap #middle .generation-bar .center {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
#portfolio_wrap #middle .generation-bar .next {
    position: absolute;
    right: 30px; top: 50%;
    color: #fff; 
    transform: translateY(-50%);  
    font-size: 19px;
}

#portfolio_wrap #middle .content {padding: 10px;}
#portfolio_wrap #middle .content #triptailor, 
#portfolio_wrap #middle .content #teumteumi,
#portfolio_wrap #middle .content #laundrymanager,
#portfolio_wrap #middle .content #moodico,
#portfolio_wrap #middle .content #teamflow,
#portfolio_wrap #middle .content #healthtant {
    position: relative;
    display: flex; align-items: center;
    min-height: 150px; gap: 20px; max-width: 100%;
    background: #3a3a3a; color: #fff;
    border-radius: 12px;
    padding: 10px; margin-bottom: 15px; margin-left: 25px;
}
#portfolio_wrap #middle .content #triptailor:hover, 
#portfolio_wrap #middle .content #teumteumi:hover,
#portfolio_wrap #middle .content #laundrymanager:hover,
#portfolio_wrap #middle .content #moodico:hover,
#portfolio_wrap #middle .content #teamflow:hover,
#portfolio_wrap #middle .content #healthtant:hover {transform: translateY(-2px);}
#portfolio_wrap #middle .content #triptailor img, 
#portfolio_wrap #middle .content #teumteumi img,
#portfolio_wrap #middle .content #laundrymanager img, 
#portfolio_wrap #middle .content #moodico img,
#portfolio_wrap #middle .content #teamflow img, 
#portfolio_wrap #middle .content #healthtant img {
    margin: 5px; padding: 30px;
    width: 150px; height: 120px;
    border-radius: 8px;
    background: #fff;
    transition: 0.3s;
}
#portfolio_wrap #middle .content #triptailor:hover img, 
#portfolio_wrap #middle .content #teumteumi:hover img,
#portfolio_wrap #middle .content #laundrymanager:hover img, 
#portfolio_wrap #middle .content #moodico:hover img,
#portfolio_wrap #middle .content #teamflow:hover img, 
#portfolio_wrap #middle .content #healthtant:hover img {padding: 10px;}
#portfolio_wrap #middle .content #triptailor .ex,
#portfolio_wrap #middle .content #teumteumi .ex,
#portfolio_wrap #middle .content #laundrymanager .ex,
#portfolio_wrap #middle .content #moodico .ex,
#portfolio_wrap #middle .content #teamflow .ex,
#portfolio_wrap #middle .content #healthtant .ex {margin-top: 5px;}
#portfolio_wrap #middle .content .ex h1 {font-size: 25px;}
#portfolio_wrap #middle .content .ex p {
    font-size: 18px; 
    margin: 10px 0 10px; 
    color: #ddd;
}
#portfolio_wrap #middle .content .ex ul {
    display: flex; 
    gap: 8px; margin-top: 25px; 
    list-style: none; 
    color:#000
}
#portfolio_wrap #middle .content .ex ul li {
    font-size: 15px;
    padding: 4px 10px; margin-top: 5px;
    border-radius: 5px;
    background: #ececec77;
}
#portfolio_wrap #middle .content .ex ul li:nth-child(1) {background: #2188b6; color: #fff;}
#portfolio_wrap #middle .content button {
    position: absolute;
    top: 20%; right: 24px;
    transform: translateY(-50%);
    width: 24px; height: 18px;
    cursor: pointer;
}
#portfolio_wrap #middle .content button span {
    width: 24px; height: 1px;
    display: block;
    background: #ccc;
    margin: 5px 0;
    transition: 0.3s;
}

#portfolio_wrap #middle .content #triptailor:hover span:nth-child(1), 
#portfolio_wrap #middle .content #teumteumi:hover span:nth-child(1),
#portfolio_wrap #middle .content #laundrymanager:hover span:nth-child(1),
#portfolio_wrap #middle .content #moodico:hover span:nth-child(1),
#portfolio_wrap #middle .content #teamflow:hover span:nth-child(1),
#portfolio_wrap #middle .content #healthtant:hover span:nth-child(1) {width: 14px;}
#portfolio_wrap #middle .content #triptailor:hover span:nth-child(3), 
#portfolio_wrap #middle .content #teumteumi:hover span:nth-child(3),
#portfolio_wrap #middle .content #laundrymanager:hover span:nth-child(3),
#portfolio_wrap #middle .content #moodico:hover span:nth-child(3),
#portfolio_wrap #middle .content #teamflow:hover span:nth-child(3),
#portfolio_wrap #middle .content #healthtant:hover span:nth-child(3) {transform-origin: right; transform: scaleX(0.6);}


/* 하단 */
.footer {
    background-color: #3f3f3f; color: #fff;
    width: 100%;
}

.footer-top {
    max-width: 1200px;    
    margin: 0 auto; padding: 32px 40px;
    display: flex; justify-content: space-between; align-items: center;
}

.footer-left {
    display: flex; flex-direction: column;
    gap: 14px;
}

.footer-title {font-size: 13px; cursor: pointer;}
.footer-title:hover {transform: translateY(-2px);}

.footer-icons {display: flex; gap: 14px;}
.footer-icons img {width: 22px; height: 22px;}
.footer-icons img:hover {transform: translateY(-2px);}

.footer-email {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    cursor: pointer;
}
.footer-email:hover {transform: translateY(-2px);}

.footer-right {
    display: flex; align-items: center;
    gap: 14px;
    font-size: 15px;
}
.footer-right a {
    color: #fff;
    font-weight: 500; 
}
.footer-right a:hover,.footer-right a:hover+span {transform: translateY(-2px);}
.footer-right span {opacity: 0.5;}

.footer-bottom {
    background-color: #2f2f2f;
    text-align: center;
    padding: 12px 0;
    font-size: 13px;
    opacity: 0.8;
}





/* 800px 이하일 때 반응형 */
@media (max-width: 800px) {

    .hamburger {display: block;}
    #top .topbar {display: none;}

    #top img {width: 32px;}

    .footer-top {
        flex-direction: column;
        align-items: center; text-align: center;
        gap: 25px;
    }
    .footer-left {align-items: center;}
    .footer-right {
        display: flex;
        justify-content: center; flex-wrap: wrap;
        gap: 14px;
    }

}





/* 600px 이하일 때 반응형 */
@media (max-width: 600px) {

    #top img {width: 26px;}

    #portfolio_wrap #middle .content #triptailor,
    #portfolio_wrap #middle .content #teumteumi,
    #portfolio_wrap #middle .content #laundrymanager,
    #portfolio_wrap #middle .content #moodico,
    #portfolio_wrap #middle .content #teamflow,
    #portfolio_wrap #middle .content #healthtant {
        flex-direction: column;
        text-align: center; align-items: center;
    }
    #portfolio_wrap #middle .content img {width: 180px;}
    #portfolio_wrap #middle .content .ex ul {justify-content: center; flex-wrap: wrap;}
    #portfolio_wrap #middle .content button {top: 18px; right: 14px;}
    
    .footer-right {display: none;}
}

